{% extends 'base.html.twig' %}

{% block title %}Місця{% endblock %}

{% block breadcrumbs %}

{% endblock  %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="card-body d-flex justify-content-between border-top">
                <div><h5>{{ 'pages.subscriptions' |trans|capitalize }}</h5></div>
                    <a href="{{ path('service_new') }}" class="btn btn-outline-success ">
                        {#<i class="fa fa-plus font-10"></i>&nbsp;#}
                        {{ 'button.add'|trans }}
                    </a>
            </div>
        </div>


        <div class="card">
            <div class="card-body row">

                <div class="col-1 bg-purple p-10 text-white" style="width: 100px;">
                    <div class="d-flex align-content-center"><h1>{{ date()|date('d') }}</h1></div>
                    <div>{{ date()|date('D') }}</div>
                    <div>{{ date()|date('M') }} / {{ date()|date('Y') }}</div>
                </div>
                    <div class="col-2 bg-purple p-10 text-white" style="width: 100px;">
                        <div>NBU</div>
                        <div>USD/UAH {{ rates['USD'] | round(2)}}</div>
                        <div>EUR/UAH {{ rates['EUR'] | round(2)}}</div>
                    </div>
                <div class="col-2 bg-purple p-10 text-white" style="width: 100px;">
                    <div>PRIVATBANK</div>
                    <div>USD {{ privatRates['USD'] }}</div>
                    <div>EUR {{ privatRates['EUR'] }}</div>
                </div>

                <div class="col-2 bg-purple p-10 text-white" style="width: 100px;">
                    <div>MONOBANK</div>
                    <div>USD {{ monoRates['USD'] }}</div>
                    <div>EUR {{ monoRates['EUR'] }}</div>
                </div>

            </div>


        </div>
        <div class="card">
            <div class="card-body">


                <h4 class="card-title"></h4>
                <div class="m-t-20">
                    {% for service in services %}
                        <div class="d-flex no-block align-items-center">
                            <a href="{{ path('service_show', {'id' : service.id}) }}" ><span>{{ service.name }}</span></a>
                        </div>

                        <ul class="list-style-none">
                        {% for subscription in service.subscriptions %}
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: {% set difference = date().diff(date(subscription.nextBillingDate)) %} {% if difference.days > 30 %}0{% else %}{{ (100/30) * (30 - difference.days)  }}{% endif %}%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>

                            </div>
{#                            <div class="ml-auto">#}
                                {#                                    {% set cur = subscription.currency %}#}

{#                            </div>#}
                                <li class="d-flex no-block card-body">
                                    <i class="fa fa-check-circle w-30px m-t-5"></i>
                                    <div>
                                        <a href="{{ path('subscription_show', {'id' : subscription.id }) }}" class="m-b-0 font-medium p-0">{{ subscription.name }}</a>
                                        <span class="text-muted">cost: {{ subscription.price / 100}} {{ subscription.currency }}  {% if subscription.currency != 'UAH' %}(<span>{{  subscription.price/100 * rates[subscription.currency] | round}} UAH</span>){% endif %}</span>
                                    </div>
                                    <div class="ml-auto">
                                        <div class="tetx-right">
{#                                            <h5 class="text-muted m-b-0">{{ subscription.endDate | date('d') }}</h5>#}
                                            <span class="text-muted font-16">{{ subscription.nextBillingDate | date('d M Y') }}</span>
                                        </div>
                                    </div>
                                </li>
                        {% endfor %}
                        </ul>
                    {% endfor %}
                    <hr>
{#                    <div class="d-flex no-block align-items-center">#}
{#                        <span>81% Clicks</span>#}
{#                        <div class="ml-auto">#}
{#                            <span>125</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 81%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}

{#                    <ul class="list-style-none">#}
{#                        <li class="d-flex no-block card-body">#}
{#                            <i class="fa fa-check-circle w-30px m-t-5"></i>#}
{#                            <div>#}
{#                                <a href="#" class="m-b-0 font-medium p-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>#}
{#                                <span class="text-muted">dolor sit amet, consectetur adipiscing</span>#}
{#                            </div>#}
{#                            <div class="ml-auto">#}
{#                                <div class="tetx-right">#}
{#                                    <h5 class="text-muted m-b-0">20</h5>#}
{#                                    <span class="text-muted font-16">Jan</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </li>#}
{#                    </ul>#}
                </div>
{#                <div class="m-t-25">#}
{#                    <div class="d-flex no-block align-items-center m-t-15">#}
{#                        <span>72% Uniquie Clicks</span>#}
{#                        <div class="ml-auto">#}
{#                            <span>120</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 72%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                    <ul class="list-style-none">#}
{#                    <li class="d-flex no-block card-body border-top">#}
{#                        <i class="fa fa-plus w-30px m-t-5"></i>#}
{#                        <div>#}
{#                            <a href="#" class="m-b-0 font-medium p-0">Maruti is a Responsive Admin theme</a>#}
{#                            <span class="text-muted">But already everything was solved. It will ...</span>#}
{#                        </div>#}
{#                        <div class="ml-auto">#}
{#                            <div class="tetx-right">#}
{#                                <h5 class="text-muted m-b-0">19</h5>#}
{#                                <span class="text-muted font-16">Jan</span>#}
{#                            </div>#}
{#                        </div>#}
{#                    </li>#}
{#                    </ul>#}
{#                </div>#}
{#                <div class="m-t-25">#}
{#                    <div class="d-flex no-block align-items-center m-t-15">#}
{#                        <span>53% Impressions</span>#}
{#                        <div class="ml-auto">#}
{#                            <span>785</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 53%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="m-t-25">#}
{#                    <div class="d-flex no-block align-items-center m-t-15">#}
{#                        <span>3% Online Users</span>#}
{#                        <div class="ml-auto">#}
{#                            <span>8</span>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="progress">#}
{#                        <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 3%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>


{#        <div class="card">#}
{#            <div class="">#}
{#                <div class="row">#}
{#                    <div class="col-lg-3 border-right p-r-0">#}
{#                        <div class="card-body border-bottom">#}
{#                            <h4 class="card-title m-t-10">Drag &amp; Drop Event</h4>#}
{#                        </div>#}
{#                        <div class="card-body">#}
{#                            <div class="row">#}
{#                                <div class="col-md-12">#}
{#                                    <div id="calendar-events" class="">#}
{#                                        <div class="calendar-events m-b-20 ui-draggable ui-draggable-handle" data-class="bg-info" style="position: relative;"><i class="fa fa-circle text-info m-r-10"></i>Event One</div>#}
{#                                        <div class="calendar-events m-b-20 ui-draggable ui-draggable-handle" data-class="bg-success" style="position: relative;"><i class="fa fa-circle text-success m-r-10"></i> Event Two</div>#}
{#                                        <div class="calendar-events m-b-20 ui-draggable ui-draggable-handle" data-class="bg-danger" style="position: relative;"><i class="fa fa-circle text-danger m-r-10"></i>Event Three</div>#}
{#                                        <div class="calendar-events m-b-20 ui-draggable ui-draggable-handle" data-class="bg-warning" style="position: relative;"><i class="fa fa-circle text-warning m-r-10"></i>Event Four</div>#}
{#                                    </div>#}
{#                                    <!-- checkbox -->#}
{#                                    <div class="custom-control custom-checkbox">#}
{#                                        <input type="checkbox" class="custom-control-input" id="drop-remove">#}
{#                                        <label class="custom-control-label" for="drop-remove">Remove after drop</label>#}
{#                                    </div>#}
{#                                    <a href="javascript:void(0)" data-toggle="modal" data-target="#add-new-event" class="btn m-t-20 btn-info btn-block waves-effect waves-light">#}
{#                                        <i class="ti-plus"></i> Add New Event#}
{#                                    </a>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-lg-9">#}
{#                        <div class="card-body b-l calender-sidebar">#}
{#                            <div id="calendar" class="fc fc-unthemed fc-ltr"><div class="fc-toolbar fc-header-toolbar"><div class="fc-left"><div class="fc-button-group"><button type="button" class="fc-prev-button fc-button fc-state-default fc-corner-left" aria-label="prev"><span class="fc-icon fc-icon-left-single-arrow"></span></button><button type="button" class="fc-next-button fc-button fc-state-default fc-corner-right" aria-label="next"><span class="fc-icon fc-icon-right-single-arrow"></span></button></div><button type="button" class="fc-today-button fc-button fc-state-default fc-corner-left fc-corner-right fc-state-disabled" disabled="">today</button></div><div class="fc-right"><div class="fc-button-group"><button type="button" class="fc-month-button fc-button fc-state-default fc-corner-left fc-state-active">month</button><button type="button" class="fc-agendaWeek-button fc-button fc-state-default">week</button><button type="button" class="fc-agendaDay-button fc-button fc-state-default fc-corner-right">day</button></div></div><div class="fc-center"><h2>April 2020</h2></div><div class="fc-clear"></div></div><div class="fc-view-container" style=""><div class="fc-view fc-month-view fc-basic-view" style=""><table class=""><thead class="fc-head"><tr><td class="fc-head-container fc-widget-header"><div class="fc-row fc-widget-header"><table class=""><thead><tr><th class="fc-day-header fc-widget-header fc-sun"><span>Sun</span></th><th class="fc-day-header fc-widget-header fc-mon"><span>Mon</span></th><th class="fc-day-header fc-widget-header fc-tue"><span>Tue</span></th><th class="fc-day-header fc-widget-header fc-wed"><span>Wed</span></th><th class="fc-day-header fc-widget-header fc-thu"><span>Thu</span></th><th class="fc-day-header fc-widget-header fc-fri"><span>Fri</span></th><th class="fc-day-header fc-widget-header fc-sat"><span>Sat</span></th></tr></thead></table></div></td></tr></thead><tbody class="fc-body"><tr><td class="fc-widget-content"><div class="fc-scroller fc-day-grid-container" style="overflow: hidden scroll; height: 313px;"><div class="fc-day-grid fc-unselectable"><div class="fc-row fc-week fc-widget-content fc-rigid" style=""><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-past" data-date="2020-03-29"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-past" data-date="2020-03-30"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-past" data-date="2020-03-31"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2020-04-01"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2020-04-02"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2020-04-03"></td><td class="fc-day fc-widget-content fc-sat fc-past" data-date="2020-04-04"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-other-month fc-past" data-date="2020-03-29"><span class="fc-day-number">29</span></td><td class="fc-day-top fc-mon fc-other-month fc-past" data-date="2020-03-30"><span class="fc-day-number">30</span></td><td class="fc-day-top fc-tue fc-other-month fc-past" data-date="2020-03-31"><span class="fc-day-number">31</span></td><td class="fc-day-top fc-wed fc-past" data-date="2020-04-01"><span class="fc-day-number">1</span></td><td class="fc-day-top fc-thu fc-past" data-date="2020-04-02"><span class="fc-day-number">2</span></td><td class="fc-day-top fc-fri fc-past" data-date="2020-04-03"><span class="fc-day-number">3</span></td><td class="fc-day-top fc-sat fc-past" data-date="2020-04-04"><span class="fc-day-number">4</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style=""><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-past" data-date="2020-04-05"></td><td class="fc-day fc-widget-content fc-mon fc-past" data-date="2020-04-06"></td><td class="fc-day fc-widget-content fc-tue fc-past" data-date="2020-04-07"></td><td class="fc-day fc-widget-content fc-wed fc-past" data-date="2020-04-08"></td><td class="fc-day fc-widget-content fc-thu fc-past" data-date="2020-04-09"></td><td class="fc-day fc-widget-content fc-fri fc-past" data-date="2020-04-10"></td><td class="fc-day fc-widget-content fc-sat fc-today " data-date="2020-04-11"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-past" data-date="2020-04-05"><span class="fc-day-number">5</span></td><td class="fc-day-top fc-mon fc-past" data-date="2020-04-06"><span class="fc-day-number">6</span></td><td class="fc-day-top fc-tue fc-past" data-date="2020-04-07"><span class="fc-day-number">7</span></td><td class="fc-day-top fc-wed fc-past" data-date="2020-04-08"><span class="fc-day-number">8</span></td><td class="fc-day-top fc-thu fc-past" data-date="2020-04-09"><span class="fc-day-number">9</span></td><td class="fc-day-top fc-fri fc-past" data-date="2020-04-10"><span class="fc-day-number">10</span></td><td class="fc-day-top fc-sat fc-today " data-date="2020-04-11"><span class="fc-day-number">11</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style=""><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2020-04-12"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2020-04-13"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2020-04-14"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2020-04-15"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2020-04-16"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2020-04-17"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2020-04-18"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-future" data-date="2020-04-12"><span class="fc-day-number">12</span></td><td class="fc-day-top fc-mon fc-future" data-date="2020-04-13"><span class="fc-day-number">13</span></td><td class="fc-day-top fc-tue fc-future" data-date="2020-04-14"><span class="fc-day-number">14</span></td><td class="fc-day-top fc-wed fc-future" data-date="2020-04-15"><span class="fc-day-number">15</span></td><td class="fc-day-top fc-thu fc-future" data-date="2020-04-16"><span class="fc-day-number">16</span></td><td class="fc-day-top fc-fri fc-future" data-date="2020-04-17"><span class="fc-day-number">17</span></td><td class="fc-day-top fc-sat fc-future" data-date="2020-04-18"><span class="fc-day-number">18</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style=""><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2020-04-19"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2020-04-20"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2020-04-21"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2020-04-22"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2020-04-23"></td><td class="fc-day fc-widget-content fc-fri fc-future" data-date="2020-04-24"></td><td class="fc-day fc-widget-content fc-sat fc-future" data-date="2020-04-25"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-future" data-date="2020-04-19"><span class="fc-day-number">19</span></td><td class="fc-day-top fc-mon fc-future" data-date="2020-04-20"><span class="fc-day-number">20</span></td><td class="fc-day-top fc-tue fc-future" data-date="2020-04-21"><span class="fc-day-number">21</span></td><td class="fc-day-top fc-wed fc-future" data-date="2020-04-22"><span class="fc-day-number">22</span></td><td class="fc-day-top fc-thu fc-future" data-date="2020-04-23"><span class="fc-day-number">23</span></td><td class="fc-day-top fc-fri fc-future" data-date="2020-04-24"><span class="fc-day-number">24</span></td><td class="fc-day-top fc-sat fc-future" data-date="2020-04-25"><span class="fc-day-number">25</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style=""><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-future" data-date="2020-04-26"></td><td class="fc-day fc-widget-content fc-mon fc-future" data-date="2020-04-27"></td><td class="fc-day fc-widget-content fc-tue fc-future" data-date="2020-04-28"></td><td class="fc-day fc-widget-content fc-wed fc-future" data-date="2020-04-29"></td><td class="fc-day fc-widget-content fc-thu fc-future" data-date="2020-04-30"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2020-05-01"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2020-05-02"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-future" data-date="2020-04-26"><span class="fc-day-number">26</span></td><td class="fc-day-top fc-mon fc-future" data-date="2020-04-27"><span class="fc-day-number">27</span></td><td class="fc-day-top fc-tue fc-future" data-date="2020-04-28"><span class="fc-day-number">28</span></td><td class="fc-day-top fc-wed fc-future" data-date="2020-04-29"><span class="fc-day-number">29</span></td><td class="fc-day-top fc-thu fc-future" data-date="2020-04-30"><span class="fc-day-number">30</span></td><td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2020-05-01"><span class="fc-day-number">1</span></td><td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2020-05-02"><span class="fc-day-number">2</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div><div class="fc-row fc-week fc-widget-content fc-rigid" style=""><div class="fc-bg"><table class=""><tbody><tr><td class="fc-day fc-widget-content fc-sun fc-other-month fc-future" data-date="2020-05-03"></td><td class="fc-day fc-widget-content fc-mon fc-other-month fc-future" data-date="2020-05-04"></td><td class="fc-day fc-widget-content fc-tue fc-other-month fc-future" data-date="2020-05-05"></td><td class="fc-day fc-widget-content fc-wed fc-other-month fc-future" data-date="2020-05-06"></td><td class="fc-day fc-widget-content fc-thu fc-other-month fc-future" data-date="2020-05-07"></td><td class="fc-day fc-widget-content fc-fri fc-other-month fc-future" data-date="2020-05-08"></td><td class="fc-day fc-widget-content fc-sat fc-other-month fc-future" data-date="2020-05-09"></td></tr></tbody></table></div><div class="fc-content-skeleton"><table><thead><tr><td class="fc-day-top fc-sun fc-other-month fc-future" data-date="2020-05-03"><span class="fc-day-number">3</span></td><td class="fc-day-top fc-mon fc-other-month fc-future" data-date="2020-05-04"><span class="fc-day-number">4</span></td><td class="fc-day-top fc-tue fc-other-month fc-future" data-date="2020-05-05"><span class="fc-day-number">5</span></td><td class="fc-day-top fc-wed fc-other-month fc-future" data-date="2020-05-06"><span class="fc-day-number">6</span></td><td class="fc-day-top fc-thu fc-other-month fc-future" data-date="2020-05-07"><span class="fc-day-number">7</span></td><td class="fc-day-top fc-fri fc-other-month fc-future" data-date="2020-05-08"><span class="fc-day-number">8</span></td><td class="fc-day-top fc-sat fc-other-month fc-future" data-date="2020-05-09"><span class="fc-day-number">9</span></td></tr></thead><tbody><tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr></tbody></table></div></div></div></div></td></tr></tbody></table></div></div></div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}




{#        {% if places.count == 0 %}#}
{#            <div class="m-l-10 m-t-10">{{ 'place.missing'|trans|capitalize }}</div>#}
{#        {% endif %}#}
{#        {% for place in places %}#}
{#            <div class="row border-top">#}
{#                <div class="col-11">#}
{#                    <a href="{{ path('place_show', {'id': place.id}) }}">#}
{#                        <div class="card">#}
{#                            <div class="card-body">#}
{#                                <div class="row" style="flex-wrap: nowrap">#}
{#                                    <div class="col-12">#}
{#                                        <h5 class="card-title">{{ place.name }}</h5>#}
{#                                        <p class="text-dark">{{ 'address'|trans }}: {{ place.address }}#}
{#                                        </p>#}
{#                                    </div>#}
{#                                    #}{#<div class="col-1 card-hover card">#}
{#                                    #}{#<a href="{{ path('place_edit', {'id' : place.id }) }}">#}
{#                                    #}{#<div class="box bg-white text-center">#}
{#                                    #}{#<h1 class="font-light text-white" ><i  style="color: black!important;" class="text-bl text-dark fas fa-cog"></i></h1>#}
{#                                    #}{#<h5 class="font-light text-dark" style="color: black;">{{ 'options'|trans|capitalize }}</h5>#}
{#                                    #}{#<small class="text-dark">{{ 'options'|trans|capitalize }}</small>#}
{#                                    #}{#</div>#}
{#                                    #}{#</a>#}
{#                                    #}{#</div>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#                <div class="col-1 card-hover card m-t-5">#}
{#                    <a href="{{ path('place_edit', {'id' : place.id }) }}">#}
{#                        <div class="box bg-white text-center">#}
{#                            <h1 class="font-light text-white" ><i  style="color: black!important;" class="text-bl text-dark fas fa-cog"></i></h1>#}
{#                            <h5 class="font-light text-dark" style="color: black;">{{ 'options'|trans|capitalize }}</h5>#}
{#                            #}{#<small class="text-dark">{{ 'options'|trans|capitalize }}</small>#}
{#                        </div>#}
{#                    </a>#}
{#                </div>#}
{#            </div>#}
{#        {% endfor %}#}
    </div>



{% endblock %}

{% block actions %}
    <!-- ============================================================== -->
    <!-- create new -->
    <!-- ============================================================== -->
    {#<li class="nav-item dropdown">#}
    {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
    {#<span class="d-none d-md-block">{{ 'menu.actions.title'|trans }} <i class="fa fa-angle-down"></i></span>#}
    {#<span class="d-block d-md-none"><i class="fa fa-plus"></i></span>#}
    {#</a>#}
    {#<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
    {#<a class="dropdown-item" href="{{ path('my_place_new') }}">{{ 'place.add.title'|trans }}</a>#}
    {#</div>#}
    {#</li>#}
{% endblock actions%}
{% block javascripts %}
    {% include('common/_toastr.html.twig')%}

{% endblock javascripts %}