{{ form_start(form, {'attr' : {'class' : 'form-horizontal col-xl-4 col-lg-6 col-md-8 col-sm-8 col-xs-12'}}) }}

<div class="card-body">
    <h5 class="text-left">{{ title }}</h5>
     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'service.type' |trans }}">
         <div class="input-group col-12">
            {{ form_widget(form.type, {'attr' : {'placeholder' : 'service.type'|trans, 'class' : 'w-100 p-3 select2 form-control select2 select2-container form-control' }}) }}
         </div>
     </div>

     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'bill.amount.title'|trans }}">
         <div class="input-group col-12">

         {{ form_widget(form.amount, {'attr' : {'placeholder' : 'bill.amount.placeholder' |trans, 'class' : 'form-control decimal-inputmask' }}) }}
             <div class="input-group-append " >
                 <span class="input-group-text font-10" style="padding-left: 8px; padding-right: 9px;" id="basic-addon2">{{ 'uah'|trans }}</span>
             </div>
         </div>
     </div>

    <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'bill.actually_paid'|trans }}">
        <div class="input-group col-12">

            {{ form_widget(form.actuallyPaid, {'attr' : {'placeholder' : 'bill.actually_paid' |trans, 'class' : 'form-control decimal-inputmask' }}) }}
            <div class="input-group-append " >
                <span class="input-group-text font-10" style="padding-left: 8px; padding-right: 9px;" id="basic-addon2">{{ 'uah'|trans }}</span>
            </div>
        </div>
    </div>


     {% if form.place is defined %}
      <div class="form-group row ">
         <div class="input-group col-12">
             {{ form_widget(form.place, {'attr' :  { 'class' :  'select2 form-control select2 select2-container w-100 p-3' }}) }}
         </div>
      </div>
     {% endif %}

     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'bill.bill_date.title' | trans }}">
         <div class="input-group col-12">
             {{ form_widget(form.date, {'attr' : { 'readonly' : 'readonly', 'autocomplete' : 'off', 'class' : 'form-control datepicker-autoclose', 'placeholder' : 'bill.bill_date.title'|trans }}) }}
             <div class="input-group-append">
                 <span class="input-group-text"><i class="fa fa-calendar"></i></span>
             </div>
         </div>
     </div>

     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="{{ 'bill.bill_period.title'|trans }}">
         <div class="input-group col-12">
             {{ form_widget(form.period, {'attr' : {'readonly' : 'readonly', 'autocomplete' : 'off', 'class' : 'form-control billing-period', 'placeholder' : 'bill.bill_period.title'|trans }}) }}
             <div class="input-group-append">
                 <span class="input-group-text"><i class="fa fa-calendar"></i></span>
             </div>
         </div>
     </div>

     <div id="tooltip-file" class="form-group row" data-toggle="tooltip" data-placement="right" title="" data-original-title="{{ 'bill.file.title'|trans }}">
             <div class="input-group col-12">
                 <div class="custom-file">
                     {{ form_widget(form.file, {'attr' : {'class' : 'custom-file-input form-control', 'placeholder' : ''}}) }}

                     <div class="invalid-feedback">Example invalid custom file feedback</div>

                     <label class="custom-file-label" for="validatedCustomFile">
                         {{ 'choose_files'|trans }}
                     </label>
                     <div class="input-group-append" style="z-index: 2; height: 100%">
                         <span  class="input-group-text file-icon"><i id="file-icon" class=" mdi mdi-upload"></i></span>
                     </div>
                </div>
            </div>
     </div>
     <div class="form-group row">
         <div class="input-group col-12">
             {{ form_widget(form.note, {'attr' : {'class' : 'form-control', 'placeholder' : 'bill.notes.title'|trans}}) }}
         </div>
     </div>
    <div class="form-group row">
        <div class="input-group col-12 d-flex justify-content-between">
            <div class="m-l-15">{{ 'PAID'|trans|capitalize }}</div>
            <div class="custom-switch">
                {{ form_widget(form.isPaid) }}

                {#<input type="checkbox" id="switch-" class="switch" checked>#}
                <label for="switch"></label>
            </div>
        </div>
    </div>
</div>
<div class="border-top">
        <div class="card-body">
            <button class="btn btn-outline-primary">{{ button_label|default('save' |trans) }}</button>
        </div>
</div>
{{ form_end(form) }}
