{{ form_start(form, {'attr' : {'class' : 'form-horizontal col-xl-4 col-lg-6 col-md-8 col-sm-8 col-xs-12'}}) }}

{#<h5 class="form-group row">#}
    {#<a class="waves-effect waves-light m-r-15" href="{{ path('place_show', {'id' : bill.place.id }) }}" data-sidebartype="mini-sidebar"><i class="mdi mdi-arrow-left font-weight-bold"></i></a>#}
    {#{{ title }}</h5>#}



<div class="card-body">
    <h5 class="text-left">{{ title }}</h5>
    {#<h4="form-group row">Personal Info</h4>#}
     {#<div class="form-group row col-lg-4 col-md-6 col-sm-3">#}
     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="Тип послуг">
         <div class="input-group col-12">
            {{ form_widget(form.type, {'attr' : {'placeholder' : 'Тип послуг', 'class' : 'w-100 p-3 select2 form-control select2 select2-container form-control' }}) }}
         </div>
     </div>

     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="До сплати">
         <div class="input-group col-12">
         {#<div class="form-group row">#}

         {{ form_widget(form.amount, {'attr' : {'placeholder' : 'Введіть суму', 'class' : 'form-control decimal-inputmask' }}) }}
         {#<div class="col-4">#}
             <div class="input-group-append " >
                 <span class="input-group-text font-10" style="padding-left: 8px; padding-right: 9px;" id="basic-addon2">ГРН</span>
             </div>
         {#</div>#}
         {#{{ form_widget(form.cents, {'attr' : {'placeholder' : '00', 'class' : 'form-control', 'step' : '1', 'min' : '0', 'style' : "min-width: 45px; max-width: 45px;", 'pattern' : "\d*"}}) }}#}
         {#<input type="text" pattern="\d*" maxlength="2" style="min-width: 45px; max-width: 45px;" class="col-1 form-control" min="0" max="99" step="1" placeholder="00">#}
         {#<div class="input-group-append">#}

             {#<span class="input-group-text" id="basic-addon2">КОП</span>#}
         {#</div>#}
         {#</div>#}
         </div>
     </div>

     {% if form.place is defined %}
      <div class="form-group row ">
         <div class="input-group col-12">
             {{ form_widget(form.place, {'attr' :  { 'class' :  'select2 form-control select2 select2-container w-100 p-3' }}) }}
         </div>
      </div>
     {% endif %}

     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="Дата виставлення рахунку">
         <div class="input-group col-12">
             {{ form_widget(form.date, {'attr' : { 'readonly' : 'readonly', 'autocomplete' : 'off', 'class' : 'form-control datepicker-autoclose', 'placeholder' : 'Дата виставлення рахунку'}}) }}
             <div class="input-group-append">
                 <span class="input-group-text"><i class="fa fa-calendar"></i></span>
             </div>
         </div>
     </div>

     <div class="form-group row" data-toggle="tooltip" data-placement="right" data-original-title="Розрахунковий період">
         <div class="input-group col-12">
             {{ form_widget(form.period, {'attr' : {'readonly' : 'readonly', 'autocomplete' : 'off', 'class' : 'form-control billing-period', 'placeholder' : 'Розрахунковий період'}}) }}
             <div class="input-group-append">
                 <span class="input-group-text"><i class="fa fa-calendar"></i></span>
             </div>
         </div>
     </div>

     <div id="tooltip-file" class="form-group row" data-toggle="tooltip" data-placement="right" title="" data-original-title="Додайте електронну версію рахунку (не обов`язково)">
         {#<label>Не обов'язкові поля</label>#}
         {#<div class="col-4 align-middle text-right">#}
             {#<label class="font-10 alert alert-info badge badge-pill badge-secondary">Електронна версія рахунку</label>#}
             {#<div class="alert alert-info badge badge-pill badge-secondary">Електронна версія рахунку</div>#}
         {#</div>#}

     {#</div>#}

         {#<div class="row col-12">#}
             <div class="input-group col-12">
                 <div class="custom-file">
                     {{ form_widget(form.file, {'attr' : {'class' : 'custom-file-input form-control', 'placeholder' : ''}}) }}


                     {#<input type="file" class="custom-file-input" id="validatedCustomFile" required="">#}


                     <div class="invalid-feedback">Example invalid custom file feedback</div>

                     <label class="custom-file-label" for="validatedCustomFile">
                         Оберіть файл
                     </label>
                     <div class="input-group-append" style="z-index: 2; height: 100%">
                         <span  class="input-group-text file-icon"><i id="file-icon" class=" mdi mdi-upload"></i></span>
                     </div>
             </div>
             {#<div class="input-group-append col-1"></div>#}
                 {#<span class="input-group-text"><i class="fa fa-calendar"></i></span>#}
{##}
             {#</div>#}
         </div>


     </div>
     <div class="form-group row">
         <div class="input-group col-12">
             {{ form_widget(form.note, {'attr' : {'class' : 'form-control', 'placeholder' : 'Нотатки'}}) }}
             {#<div class="input-group-append">#}
                 {#<span class="input-group-text"><i class="fa fa-calendar"></i></span>#}
             {#</div>#}
         </div>
     </div>

     {##}
     {#<div class="input-group">#}
         {#<input type="text" class="form-control" id="datepicker-autoclose" placeholder="mm/dd/yyyy">#}
         {#{{ form_widget(form.date, {'attr' : {'id' : 'datepicker-autoclose', 'class' : 'form-control'}}) }}#}
         {#<div class="input-group-append">#}
             {#<span class="input-group-text"><i class="fa fa-calendar"></i></span>#}
         {#</div>#}
     {#</div>#}
     {#<div class="form-group row">#}
     {#</div>#}

</div>
<div class="border-top">
    {#<div class="border-top col-lg-12 col-md-12 col-sm-12">#}
    {#<div class="card-body pl-0">#}
        <div class="card-body">
            <button class="btn btn-outline-primary">{{ button_label|default('Save') }}</button>
        </div>
    {#</div>#}
    {#</div>#}
</div>
{{ form_end(form) }}
