{% extends 'base.html.twig' %}

{% block title %}Edit Bill{% endblock %}
{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/libs/select2/dist/css/select2.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <style>
        .select2-selection.select2-selection--single {
            border: 1px solid #e9ecef;
            border-radius: 0px;
        }

        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: #59616A;
        }

        .select2-selection.select2-selection--single {
            height: 35px;
        }

        .select2.select2-container.select2-container--default {
            height: 35px;
            width: 100%!important;
        }

        .select2-selection__rendered {

            padding-top: 5px;
            padding-left: 12px!important;
        }

        .select2-selection__arrow {
            height: 35px!important;
        }

        .form-control[readonly] {
            background-color: #ffffff;
        }

        .form-control[readonly]:hover {
            cursor: pointer;
        }

        .mh-1000 {
            min-height: 1000px;
        }

        label.custom-file-label {
            font-weight: 400;
            color: rgb(108,117,125);
        }

        label.custom-file-label:after {
            display: none;
            content: '';
            background: none;
        }

        label.custom-file-label:before {}

        label.custom-file-label {
            /*z-index: 1;*/
        }

        div.btn-group, button.btn.btn-danger.btn-sm {
            z-index: 999;
        }

    </style>
{% endblock head %}

{% block content %}
    <a class="m-l-15 waves-effect waves-light " href="{{ path('bill_show', {'id' : bill.id }) }}" data-sidebartype="mini-sidebar"><i class="mdi mdi-arrow-left font-24"></i></a>
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->



        <div class="card col-12 mh-1000">
            <div class="card-body">

                <div class="row">
                    <div class="col-10">
                        {% include 'bill/_form.html.twig' with { 'title' : 'bill.edit.title'|trans|capitalize } %}


                        {#{% include('place/_form.html.twig') with {'title' : 'place.edit.title' |trans, 'place' : place, 'url' : path('place_delete', { 'id' : place.id })} %}#}
                    </div>
                    <div class="col-2 d-flex align-items-end justify-content-end">
                        {% include('common/_delete_button.html.twig') with {'url' : path('bill_delete', { 'id' : bill.id }), 'id' : bill.id} %}
                        {#{% include('common/_delete_button.html.twig') with {'url' : path('place_delete', { 'id' : bill.id }), 'id' : bill.id} %}#}
                    </div>
                </div>


            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/assets/libs/select2/dist/js/i18n/uk.js"></script>
    <script src="/assets/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.uk.min.js"></script>
    <script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/dist/js/pages/mask/mask.init.js"></script>
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="/assets/libs/toastr/build/toastr.min.js"></script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });
        // //***********************************//
        // // For select 2
        // //***********************************//
        $(".select2").select2({
            language: "uk"
        });

        jQuery('.datepicker-autoclose').datepicker({
            autoclose: true,
            // todayHighlight: true,
            language: 'uk',
            format : "dd/mm/yyyy",
            orientation: 'bottom',

        });
        jQuery('.billing-period').datepicker({
            autoclose: true,
            language: 'uk',
            format : "MM yyyy",
            viewMode: "months",
            minViewMode: "months",
            orientation: 'bottom'
        });

        {% if bill.file %}
            $('.custom-file-label').text('{{ bill.file }}');

            var url = '{{ path('bill_delete_file', {'id' : bill.id}) }}';

            $('#tooltip-file').attr('data-original-title', '{{ 'delete_file'|trans|capitalize }}');

        $('#file-icon').removeClass('mdi-upload').addClass(['mdi-close-box', 'text-danger']);
        $('#file-icon').on('click', function (e) {

            if ($(this).hasClass('mdi-close-box')) {

                $.ajax(url)
                    .done ((data) => {
                        $('#file-icon').removeClass(['mdi-close-box', 'text-danger']).addClass('mdi-upload');
                        $('.custom-file-label').text('Оберіть файл');
                        $('#tooltip-file').attr('data-original-title', "{{ 'bill.file.title'|trans }}");
                    })
                    .fail( () => {
                        alert( "error" );
                    })
                ;
            }
        });

        {% endif %}

        $('input[type="file"]').change(function(e){

            var fileName = e.target.files[0].name;

            $('.custom-file-label').text(fileName);

        });

    </script>
{% endblock javascripts %}
