{% extends 'base.html.twig' %}

{% if bill.place != null %}
    {% set returnurl = path('place_show', {'id' : bill.place.id }) %}
{% else  %}
    {% set returnurl = path('subscription_show', {'id' : bill.subscription.id }) %}
{% endif %}

{% block title %}Bill{% endblock %}

{% block head %}
    <style>
        .cross {
            /*top: 10px;*/
            display: none;
            position: absolute;
            left: 80%;
            top: 5%;
            z-index: 10;
            color: white;
            font-size: 20px;
            /*width: 20px;*/
            /*height: 20px;*/
            /*background: white;*/
            /*border: 1px black solid;*/
            /*border-radius: 50%;*/
            /*margin: 0!important;*/
            /*padding: 0!important;*/
        }
        .el-element-overlay {
            width: 200px;
        }
        div.el-card-item:hover .cross {
            display: block;
        }
    </style>
{% endblock head %}

{% block content %}
    {#MODALS#}
    <div class="modal fade" id="Modal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ 'are_you_sure' | trans }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{ 'modals.delete_file_question'|trans }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">{{ 'cancel'|trans }}</button>
                    <button type="button" class="btn btn-outline-primary confirm" data-dismiss="modal">{{ 'delete'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
    {#END MODALS#}

    {#<div class="page-breadcrumb">#}
        {#<div class="row">#}
            {#<div  class="col-1">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<a href="{{ path('place_show', {'id':bill.place.id}) }}">#}
                                {#<li class="breadcrumb-item">#}
                                    {#<i class="ti ti-angle-left" style="padding-right: 0.5rem;"></i> {{ 'back'|trans }}#}
                                {#</li>#}
                            {#</a>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-11 d-flex no-block align-items-center">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<li class="breadcrumb-item" aria-current="page"><a href="{{ path('my_places') }}">Місця</a></li>#}
                            {#<li class="breadcrumb-item active">{{ bill.name }}</li>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="row ">
        <div class="col-md-12">
            <div class="card card-body printableArea m-t-0 p-t-0">

                {#<div class="row">#}
                    {#<div class="col-1">#}
                        {#<a class="waves-effect waves-light p-l-5" href="{{ path('place_show', {'id' : bill.place.id }) }}" data-sidebartype="mini-sidebar"><i class="mdi mdi-arrow-left font-24"></i></a>#}
                    {#</div>#}
                    {#<div class="col-11">#}
                        {#<h3 class="text-right {% if bill.status == 'UNPAID' %}text-danger{% else %}text-success{% endif %}"><b>{{ bill.status | trans }}</b> </h3>#}
                    {#</div>#}
                {#</div>#}
                <hr>
                <div class="row">
                    <div class="col-md-11">
                        <div class="pull-right text-left">
                            <address>
                                <p>
                                {#<h3 class="text-left {% if bill.status == 'UNPAID' %}text-danger{% else %}text-success{% endif %}"><b>{{ bill.status | trans }}</b> </h3>#}
                                <h3 class="text-left {% if bill.isPaid == false %}text-danger {% set status = constant('UNPAID', bill) %}{% else %}text-success {% set status = constant('PAID', bill) %}{% endif %}"><b>{{ status | trans }}</b> </h3>
                                </p>
                                {%  if bill.place != null %}
                                    <h5>{{ 'place.title' |trans}}: <span class="font-weight-light">{{ bill.place.name }} </span></h5>
                                {% else %}
                                    <h5>{{ 'service.title' |trans}}: <span class="font-weight-light">{{ bill.subscription.name }} </span></h5>
                                {% endif %}
                                <p class="m-t-30">
                                    <i class="fa fa-calendar"></i> <b>{{ bill.date | date('d-m-Y') }}</b> -  {{ 'bill.bill_date.title'|trans }}
                                </p>
                                <p>
                                    <i class="fa fa-calendar"></i> <b>{{ bill.payDateText | default('не оплачено') }}</b> - {{ 'bill.pay_date.title'|trans }}
                                </p>
                            </address>
                        </div>
                    </div>
                    <div class="col-1 card-hover card">
                        <a href="{{ path('bill_edit', {'id' : bill.id }) }}">
                            <div class="box bg-white text-center">
                                <h1 class="font-light text-white" ><i  style="color: black!important;" class="text-bl text-dark fas fa-cog"></i></h1>
                                <h5 class="font-light text-dark" style="color: black;">{{ 'options'|trans|capitalize }}</h5>
                                {#<small class="text-dark">{{ 'options'|trans|capitalize }}</small>#}
                            </div>
                        </a>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
        <div class="row">
        <div class="col-md-6">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title m-b-0">{{ 'bill.title'|trans|capitalize }}</h5>
        </div>
        <table class="table">
            <thead>
            </thead>
            <tbody>
            <tr>
                <td>{{ 'service.title'|trans|capitalize }}</td>
                <td>{{ bill.type | trans }}</td>
            </tr>
            <tr>
                <td>{{ 'bill.amount.title'|trans }}</td>
                <td>{{ (bill.amount / 100) |number_format(2,'.','') }}</td>
            </tr>
            <tr>
                <td>{{ 'bill.actually_paid'|trans }}</td>
                <td>{{ (bill.actuallyPaid / 100) |number_format(2,'.','') }}</td>
            </tr>
            <tr>
                <td>{{ 'bill.notes.title'|trans|capitalize }}</td>
                <td>{{ bill.note }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
    </div>
    <hr>
    <div class="card card-body row m-t-0 p-t-0 ml-1">
        <h5>
            Файли:
        </h5>
    </div>
    <div class="card-body row m-t-0 p-t-0">

        {% for file in bill.files %}
        <div class="col-md-3 ">
                {#{% if bill.file %}#}
                <div class="text-right">
                    <div class="{#row#} el-element-overlay">
                            {#<div class="card w-25 m-t-40 p-t-20">#}
                            <div class="card w-100 m-t-40 p-t-0">
                                <div class="el-card-item">
                                    <i class="el-link cross far fa-times-circle" data-toggle="modal" data-target="#Modal2" id="{{ file.id }}"></i>
                                    <div class="el-card-avatar el-overlay-1">
                                        {% if '.pdf' in file.path %}
                                            <img src="https://i.gadgets360cdn.com/large/pdf_pixabay_1493877090501.jpg">
                                        {% elseif file.path matches '/(.jpg|.jpeg|.png|.gif|.bmp|.svg)$/' %}
                                            <img src="/{{ file.path }}">
                                        {% else %}
                                            <img src="https://cdn3.iconfinder.com/data/icons/brands-applications/512/File-512.png">
                                        {% endif %}
                                        <div class="el-overlay">
                                            <ul class="list-style-none el-info">
                                                {% if file.path matches '/(.jpg|.jpeg|.png|.gif|.bmp|.svg)$/'%}
                                                    <li class="el-item"><a class="btn default btn-outline image-popup-vertical-fit el-link" download="{{ file.originalName }}" href="/{{ file.path }}"><i class="mdi mdi-magnify-plus"></i></a></li>
                                                {% endif %}
                                                <li class="el-item"><a class="btn default btn-outline el-link " download="{{ file.originalName }}" href="/{{ file.path }}"><i class="mdi mdi-download"></i></a></li>
                                                {#<li class="el-item"><a class="btn default btn-outline el-link "  href="/{{ file.path }}"><i class="mdi mdi-download"></i></a></li>#}
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="el-card-content">
                                        <h4 class="m-b-10">{{ file.originalName| default('file'|trans ~' '~loop.index) }}</h4> <div class="pull-left text-left"><span class="text-muted">{{ 'creation_datetime'|trans }}:</span></div> <div class="pull-left text-left"><span class="text-muted">{{ file.created|date('d-m-Y H:i:s') }}</span></div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                {#{% endif %}#}
        </div>
        {% endfor %}

    </div>


{% endblock %}

{% block actions %}
    <!-- ============================================================== -->
    <!-- create new -->
    <!-- ============================================================== -->
    {#<li class="nav-item dropdown">#}
        {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
            {#<span class="d-none d-md-block">{{ 'menu.actions.title'|trans }}<i class="fa fa-angle-down"></i></span>#}
            {#<span class="d-block d-md-none"><i class="fa fa-plus"></i></span>#}
        {#</a>#}
        {#<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
            {#<div class="dropdown-divider"></div>#}
            {#<a class="dropdown-item" href="{{ path('bill_edit', {'id': bill.id}) }}">{{ 'bill.edit.title'|trans }}</a>#}
            {#<a class="dropdown-item text-danger" href="{{ path('bill_edit', {'id': bill.id}) }}">{{ 'bill.delete.title'|trans }}</a>#}
        {#</div>#}
    {#</li>#}
{% endblock actions %}


{% block javascripts %}
    {#<script src="/assets/libs/jquery/dist/jquery.min.js"></script>#}
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    {#<script src="/dist/js/waves.js"></script>#}
    <script src="/dist/js/custom.min.js"></script>
    <script src="/assets/libs/toastr/build/toastr.min.js"></script>



    <link href="/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <script src="/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    {#<script src="../../assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>#}
    <script src="/assets/libs/magnific-popup/meg.init.js"></script>




    <script>

        var current = '';
        $('.cross').on('click', function(){
            current = $(this).attr('id');
        });

        $('.confirm').on('click', function(){

            // var url = "/bills/files/{file_id}/";

            // var id = $(this).attr('id');
            var id = current;
            var url = "/bills/file/";

            var jqxhr = $.ajax(
                {   url : url+id,
                    method: 'DELETE'
                }
                )
                .done ((data) => {

                    $('#'+current).closest('.text-right').remove();

                    // $(this).find('input').prop("checked", !$(this).find('input').prop("checked"));
                    // $(this).parent().parent().find('.sorting_1').next().text(data);
                    //
                    // var text = '';
                    //
                    // if ( $(this).find('input').prop("checked")) {
                    //     text = $(this).parent().parent().find('.sorting_1').prev().prev().text();
                    // } else {
                    //     text = '0.00';
                    // }
                    //
                    // $(this).parent().parent().find('.sorting_1').prev().text(text);

                })
                .fail( () => {
                    alert( "error" );
                })
            ;


        });
    </script>
{% endblock javascripts %}