{% extends 'base.html.twig' %}

{% block title %}Bill index{% endblock %}

{% block content %}
    <h1>Meter index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Amount</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for type in tariffTypes %}
            <tr>
                <td>{{ type.id }}</td>
                {#<td>{{ type.description }}</td>#}
                {#<td>{{ type.amount }}</td>#}
                <td>
                    <a href="{{ path('tariff_type_show', {'id': type.id}) }}">show</a>
                    <a href="{{ path('tariff_type_edit', {'id': type.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('tariff_type_new') }}">Create new</a>
{% endblock %}
