{% extends 'base.html.twig' %}
{% set returnurl = path('indication_show', {'id' : indication.id }) %}

{% block title %}Edit Bill{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="/assets/libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css">
    <style>
        .form-control[readonly] {
            background-color: #ffffff;
        }

        .form-control[readonly]:hover {
            cursor: pointer;
        }

        .mh-1000 {
            min-height: 1000px;
        }

        label.custom-file-label {

            font-weight: 400;
            color: rgb(108,117,125);

        }

        label.custom-file-label:after {
            font-family: "Material Design Icons";
            content: "\f552";
        }
    </style>
{% endblock head %}


{% block content %}
    {#<div class="page-breadcrumb">#}
        {#<div class="row">#}
            {#<h4 class="page-title text-center">#}
                {#<a class="waves-effect waves-light p-l-5" href="{{ path('meter_show', {'id' : indication.meter.id }) }}" data-sidebartype="mini-sidebar"><i class="mdi mdi-arrow-left font-24"></i></a>#}
            {#</h4>#}
            {#<div class="ml-auto text-right">#}
                {#<nav aria-label="breadcrumb">#}
                    {#<ol class="breadcrumb">#}
                        {#<li class="breadcrumb-item"><a href="#">Home</a></li>#}
                        {#<li class="breadcrumb-item active" aria-current="page">Library</li>#}
                    {#</ol>#}
                {#</nav>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="page-breadcrumb">#}
        {#<div class="row">#}
            {#<div  class="col-1">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<a href="{{ path('meter_show', {'id':indication.meter.id}) }}">#}
                                {#<li class="breadcrumb-item">#}
                                    {#<i class="ti ti-angle-left" style="padding-right: 0.5rem;"></i> {{ 'back'|trans }}#}
                                {#</li>#}
                            {#</a>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-11 d-flex no-block align-items-center">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<li class="breadcrumb-item" aria-current="page"><a href="{{ path('my_places') }}">Місця</a></li>#}
                            {#<li class="breadcrumb-item active">{{ indication.id }}</li>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <div class="row">
        <div class="col-9">
            {%  include 'indication/_form.html.twig' with {'title': 'indication.edit.title' | trans} %}
        </div>
        {#<div class="col-3 d-flex align-items-end justify-content-end">#}
            {#{% include('common/_delete_button.html.twig') with {'url' : path('indication_delete', { 'id' : indication.id }), 'id' : indication.id} %}#}
        {#</div>#}
        <div class="col-3 d-flex align-items-end justify-content-end">
            {% include('common/_delete_button_modal.html.twig') with {'url' : path('indication_delete', { 'id' : indication.id }), 'id' : indication.id, 'subject' : 'indication.title'|trans ~' '~'"'~indication.value~'" ?' } %}
        </div>
    </div>
    {#{%  include 'indication/_form.html.twig' with {'title': 'indication.edit.title' | trans} %}#}

{% endblock %}
{% block javascripts %}
    <link href="/assets/libs/magnific-popup/dist/magnific-popup.css" rel="stylesheet">
    <script src="/assets/libs/magnific-popup/dist/jquery.magnific-popup.min.js"></script>
    <script src="/assets/libs/magnific-popup/meg.init.js"></script>
    <script src="/assets/libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
    <script src="/assets/libs/select2/dist/js/select2.min.js"></script>
    <script src="/assets/libs/select2/dist/js/i18n/uk.js"></script>
    <script src="/assets/libs/bootstrap-datepicker/dist/locales/bootstrap-datepicker.uk.min.js"></script>
    <script src="/assets/libs/inputmask/dist/min/jquery.inputmask.bundle.min.js"></script>
    <script src="/dist/js/pages/mask/mask.init.js"></script>
    <script src="/assets/libs/popper.js/dist/umd/popper.min.js"></script>
    <script src="/assets/extra-libs/sparkline/sparkline.js"></script>
    <script src="/assets/libs/toastr/build/toastr.min.js"></script>
    <script>

        $(function () {
            $('[data-toggle="tooltip"]').tooltip()
        });

        jQuery('.datepicker-autoclose').datepicker({
            autoclose: true,
            // todayHighlight: true,
            language: 'uk',
            format : "dd/mm/yyyy",
            orientation: 'bottom',

        });

        {% if indication.file %}
        $('.custom-file-label').text('{{ indication.file }}');
        var url = '{{ path('indication_delete_file', {'id' : indication.id}) }}';

        $('#tooltip-file').attr('data-original-title', '{{ 'delete_file' | trans }}');

        $('#file-icon').removeClass('mdi-upload').addClass(['mdi-close-box', 'text-danger']);
        $('#file-icon').on('click', function (e) {

            if ($(this).hasClass('mdi-close-box')) {

                $.ajax(url)
                    .done ((data) => {
                        $('#file-icon').removeClass(['mdi-close-box', 'text-danger']).addClass('mdi-upload');
                        $('.custom-file-label').text("{{'indication.file.placeholder'|trans }}");
                        $('#tooltip-file').attr('data-original-title', "{{ 'indication.file.tooltip' | trans }}");
                    })
                    .fail( () => {
                        alert( "error" );
                    })
                ;
            }
        });

        {% endif %}

        $('input[type="file"]').change(function(e){

            var fileName = e.target.files[0].name;

            $('.custom-file-label').text(fileName);

        });

    </script>
{% endblock javascripts %}
