<div class="row">
    <div class="card">
    {{ form_start(form, {'attr' : {'class' : 'form-horizontal'}}) }}
        <div class="card-body">
            <div class="form-group row">
                {{ form_label(form.name) }}
                {#{'attr' : {'class' : 'col-sm-3 text-right control-label col-form-label'}}#}
                {{ form_errors(form.name) }}
                {{ form_widget(form) }}
            </div>
        </div>
        <div class="border-top">
            <div class="card-body">
                <button type="button" class="btn btn-info">{{ button_label|default('Save') }}</button>
            </div>
        </div>
    {{ form_end(form) }}
    </div>
</div>