{% extends 'base.html.twig' %}

{% block title %}Місця{% endblock %}

{% block breadcrumbs %}

{% endblock  %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="card-body d-flex justify-content-between border-top">
            <div><h5>{{ 'place.titles' |trans|capitalize }}</h5></div>
            <a href="{{ path('place_new') }}" class="btn btn-outline-success ">
                {#<i class="fa fa-plus font-10"></i>&nbsp;#}
                {{ 'place.add.title'|trans }}
            </a>
        </div>
    </div>

    {% if places.count == 0 %}
        <div class="m-l-10 m-t-10">{{ 'place.missing'|trans|capitalize }}</div>
    {% endif %}
    {% for place in places %}
        <div class="d-flex flex-row comment-row p-t-10 border-top">
            <div class="p-2"><h1>🏢</h1>
{#                <img src="../../assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">#}
            </div>
            <div class="comment-text w-100">
                <a class="text-dark" href="{{ path('place_show', {'id': place.id}) }}">
                <h6 class="font-bold">{{ place.name }}</h6>
                <span class="m-b-15 d-block">{{ 'address'|trans }}: {{ place.address }}</span>
                </a>
                <div class="comment-footer">
                    <span class="text-muted float-right">
                        
                          <a href="{{ path('place_edit', {'id' : place.id }) }}" type="button" class="btn btn-cyan btn-sm"><i  class="text-white font-18 fas fa-cog"></i></a>
                    </span>
{#                    <button type="button" class="btn btn-cyan btn-sm">Edit</button>#}
                </div>
            </div>
        </div>
   
    {% endfor %}
</div>
{% endblock %}

{% block actions %}
<!-- ============================================================== -->
<!-- create new -->
<!-- ============================================================== -->
{#<li class="nav-item dropdown">#}
    {#<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
        {#<span class="d-none d-md-block">{{ 'menu.actions.title'|trans }} <i class="fa fa-angle-down"></i></span>#}
        {#<span class="d-block d-md-none"><i class="fa fa-plus"></i></span>#}
    {#</a>#}
    {#<div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
        {#<a class="dropdown-item" href="{{ path('my_place_new') }}">{{ 'place.add.title'|trans }}</a>#}
    {#</div>#}
{#</li>#}
{% endblock actions%}
{% block javascripts %}
    {% include('common/_toastr.html.twig')%}
{% endblock javascripts %}