{% extends 'base.html.twig' %}
{##}
{% block title %}Place{% endblock %}
{##}

{% block head %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>



    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/fh-3.1.4/sc-1.5.0/datatables.min.css"/>#}

    {#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/fh-3.1.4/sc-1.5.0/datatables.min.js"></script>#}

    {#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>#}
    {#<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>#}
    {#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/b-1.5.4/b-flash-1.5.4/b-html5-1.5.4/b-print-1.5.4/fh-3.1.4/sc-1.5.0/datatables.min.js"></script>#}



    {#<script#}
            {#src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
            {#integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="#}
            {#crossorigin="anonymous"></script>#}

    {#<script src="/bundles/datatables/js/datatables.js"></script>#}

    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>#}
    {#<script#}
            {#src="https://code.jquery.com/jquery-3.3.1.js"#}
            {#integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="#}
            {#crossorigin="anonymous"></script>#}
{% endblock head %}

    {#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>#}
    {#<script src="/bundles/datatables/js/datatables.js"></script>#}
{% block content %}

{#<head>#}
    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>#}
    {#<script#}
            {#src="https://code.jquery.com/jquery-3.3.1.js"#}
            {#integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="#}
            {#crossorigin="anonymous"></script>#}
    {#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>#}
    {#<script src="/bundles/datatables/js/datatables.js"></script>#}
{#</head>#}
{#<body>#}

    <div class="page-breadcrumb card">
        <div class="row">
            <div class="col-12 d-flex no-block align-items-center">
                {#<h4 class="page-title">Dashboard</h4>#}
                <div class="ml-auto text-right">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('my_places') }}">Місця</a></li>
                            <li class="breadcrumb-item active">{{ place.name }}</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>

    {#</div>#}


        <div class="col-md-9">
            <div class="row">
                {% for meter in place.meters %}
                    <div class="col-2 card card-hover">
                        <a href="{{ path('meter_show', {'id': meter.id}) }}">
                            <div class="bg-dark p-10 text-white text-center">
                                 <span class="font-24">️{{ meter.type.icon}}</span>
                                <h5 class="m-b-0 m-t-5">{{ meter.indications.first |default('0') }} {{ meter.unit.name }}</h5>
                                <small class="font-light">{{ meter.type.name |capitalize}}</small><br>
                            </div>
                        </a>
                    </div>
                {% endfor %}


            </div>
        </div>

    {#<div class="card">#}
        <div class="card-body">
            <h5 class="card-title">Квартира/Будиок/Житлове приміщення</h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>

        <div class="card-body">
            <h5 class="card-title">Рахунки</h5>
        </div>

        <div id="presidents" class=" table-responsive dataTables_wrapper container-fluid dt-bootstrap4">Loading...</div>

    </div>


    {#<a href="{{ path('place_index') }}">back to list</a>#}

    {#<a href="{{ path('place_edit', {'id': place.id}) }}">edit</a>#}

    {#{{ include('place/_delete_form.html.twig') }}#}


{% endblock %}


{% block actions %}
    <!-- ============================================================== -->
    <!-- create new -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-md-block">Дії <i class="fa fa-angle-down"></i></span>
            <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('bill_new') }}">Додати рахунок</a>
            <a class="dropdown-item" href="{{ path('meter_new') }}">Додати лічильник</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('place_edit', {'id': place.id}) }}">Редагувати місце</a>
        </div>
    </li>
{% endblock actions %}

{% block javascripts %}
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>


    {#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/fh-3.1.4/sc-1.5.0/datatables.min.js"></script>#}
    {#<script#}
            {#src="https://code.jquery.com/jquery-3.3.1.js"#}
            {#integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="#}
            {#crossorigin="anonymous"></script>#}
    {##}

    <!-- Insert this at the end of your body element, but before the closing tag -->
    <script src="{{ asset('bundles/datatables/js/datatables.js') }}"></script>
    <script>
        $(function() {
            $('#presidents').initDataTables({{ datatable_settings(datatable) }},  {
                searching: true
                // dom:'<"html5buttons"B>lTfgitp',
                // buttons: [
                //     'copy'
                // //     { extend: 'pdf', title: 'domains'},
                // //     { extend: 'print' }
                // ]
            });
        });
    </script>
    {#<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>#}
    {#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.css"/>#}
    {#<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.2.1/dt-1.10.16/datatables.min.js"></script>#}
    {#<script src="/bundles/datatables/js/datatables.js"></script>#}
{% endblock javascripts %}

{#</body>#}