{% extends 'base.html.twig' %}

{% block title %}Bill index{% endblock %}

{% block content %}
    <div class="card m-b-0">
        <div class="row">
        <div class="col-10 p-l-30"><h4>{{ 'tariff_types.title'| trans }}</h4></div>
        {#<div class="row">#}
            {#<p class="col-10"> </p>#}
            <div class="col-2 ">
                <div class="d-flex justify-content-end m-r-20">
                <a href="{{ path('tariff_type_new_for_user', {'user' : app.user.id})}}" class="btn btn-outline-success ">
                    {#<i class="mdi mdi-plus font-14"></i>&nbsp;#}

                    {{ 'tariff_types.add'|trans }}
                </a>
                </div>
            </div>
        </div>
            {#<p class="col-1"><a class=" badge badge-success" href="{{ path('tariff_new_for_meter', {'meter' : meter.id}) }}"> + тариф </a></p>#}
        {#</div>#}
    {% for tariffType in app.user.tariffTypes %}
        <div class="row m-t-0">
            <a href="{{ path('tariff_type_edit', {'id' : tariffType.id }) }}" class="text-dark w-100">
            <div class="card m-b-0">
                <div class="comment-widgets scrollable ps-container ps-theme-default m-b-0">

                    <div class="d-flex flex-row comment-row m-t-0 m-b-0 p-t-0 p-b-0">
                        <div class="p-2">
                            <span class="font-20">🔖 </span><span class="font-16">{{ tariffType.name | capitalize}}</span>
                            {#<img src="../../assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">#}
                        </div>
                        {#<div class="comment-text w-100 justify-content-center">#}
                            {#<h6 class="font-medium">{{ tariffType.name }}</h6>#}
                            {#<span class="m-b-15 d-block">Name: {{ tariffType.name }}</span>#}
                            {#<div class="comment-footer">#}
                                {#<span class="text-muted float-right">April 14, 2016</span>#}
                                {#<button type="button" class="btn btn-cyan btn-sm">Edit</button>#}
                                {#<button type="button" class="btn btn-success btn-sm">Publish</button>#}
                                {#<button type="button" class="btn btn-danger btn-sm">Delete</button>#}
                            {#</div>#}
                        {#</div>#}
                    </div>

                </div>
            </div>
            </a>
        </div>
    {% endfor %}
    </div>
    {#<div class="page-breadcrumb">#}
        {#<div class="row">#}
            {#<div  class="col-1">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<a href="{{ path('meter_show', {'id':tariff.meter.id}) }}">#}
                            {#<li class="breadcrumb-item">#}
                                {#<i class="ti ti-angle-left" style="padding-right: 0.5rem;"></i> {{ 'back'|trans }}#}
                            {#</li>#}
                            {#</a>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-5 d-flex no-block align-items-end">#}
                {#<div class="ml-auto text-right">#}
                            {#<h4>TARIFFS</h4>#}
                {#</div>#}
            {#</div>#}
            {#<div class="col-6 d-flex no-block align-items-center">#}
                {#<div class="ml-auto text-right">#}
                    {#<nav aria-label="breadcrumb">#}
                        {#<ol class="breadcrumb">#}
                            {#<li class="breadcrumb-item" aria-current="page"><a href="{{ path('my_places') }}">Місця</a></li>#}
                            {#<li class="breadcrumb-item active">{{ tariff.meter.id }}</li>#}
                        {#</ol>#}
                    {#</nav>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#<div class="page-breadcrumb">#}
        {#<div class="row">#}
            {#<div  class="col-12">#}
                {#<div class="ml-auto text-left">#}
                    {#<nav aria-label="breadcrumb"> <h4>TARIFFS</h4></nav>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    <hr>
<div class="col-12 m-t-25 m-l-5"><h4>{{ 'pages.places'|trans }}:</h4></div>
{% if places.count == 0 %}
    <div class="m-l-15 m-t-10">{{ 'place.missing'|trans|capitalize }}</div>
{% endif %}
{% for place in places %}
    <div class="row m-l-5 m-t-20">

        <div class="col-12"><h5>{{ place.name }}</h5>  </div>
        <div class="col-12"><small>{{ place.address }}</small>  </div>

        <div class="card m-t-10">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
            {% for meter in place.meters %}

                <li class="nav-item"> <a class="nav-link {% if loop.index == 1 %}active {% endif %}" data-toggle="tab" href="#meter-{{ meter.id }}" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">{{ meter.type| trans }}</span></a> </li>

            {% endfor %}


                {#<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab1</span></a> </li>#}
                {#<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab2</span></a> </li>#}
                {#<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab3</span></a> </li>#}
            </ul>
            <!-- Tab panes -->
            <div class="tab-content tabcontent-border">
            {% if place.meters.count == 0 %}
                <div class="m-l-40 m-t-5">{{ 'meter.missing'|trans }}</div>
            {% endif %}
            {% for meter in place.meters %}
                <div class="tab-pane p-20 {% if loop.index == 1 %}active {% endif %}" id="meter-{{ meter.id }}" role="tabpanel">
                    <div class="p-20">
                        <div class="row">
                            <p class="col-10 font-16 font-bold"> <span class="font-20">{{ meter.type.icon }}</span>  {{ meter.name }}</p>
                            <p class="col-2">
                            <a href="{{ path('tariff_new_for_meter', {'meter' : meter.id}) }}" class="btn btn-sm btn-outline-success ">
                                {#<i class="mdi mdi-plus font-14"></i>&nbsp;#}

                                {{ 'tariff.add'|trans }}
                            </a>
                            </p>
                            {#<p class="col-1"><a class=" badge badge-success" href="{{ path('tariff_new_for_meter', {'meter' : meter.id}) }}"> + тариф </a></p>#}
                        </div>



                        {% if meter.tariffs.count > 0 %}
                            {% for tariff in meter.tariffs %}
                                <div class="row m-t-0">

                                    <a href="{{ path('tariff_edit', {'id' : tariff.id}) }}" class="text-dark w-100">
                                        <div class="card m-b-0 m-l-15">
                                            <div class="comment-widgets scrollable ps-container ps-theme-default m-b-0">

                                                <div class="d-flex flex-row comment-row m-t-0 m-b-0 p-t-0 p-b-0">
                                                    <div class="p-2">
                                                        <span class="font-14">{#🔖📊💵📝🧮 📊📈#} 📈{#📇#}</span><span class="font-16"> {{ tariff.type |capitalize}} - 💰{{ (tariff.price/100)|number_format(2,',','') }} {{ 'uah'|trans }}{#{{ 'for_1'|trans }} #} ({{ meter.unit |trans}})</span>
                                                        {#<img src="../../assets/images/users/1.jpg" alt="user" width="50" class="rounded-circle">#}
                                                    </div>
                                                    {#<div class="comment-text w-100 justify-content-center">#}
                                                    {#<h6 class="font-medium">{{ tariffType.name }}</h6>#}
                                                    {#<span class="m-b-15 d-block">Name: {{ tariffType.name }}</span>#}
                                                    {#<div class="comment-footer">#}
                                                    {#<span class="text-muted float-right">April 14, 2016</span>#}
                                                    {#<button type="button" class="btn btn-cyan btn-sm">Edit</button>#}
                                                    {#<button type="button" class="btn btn-success btn-sm">Publish</button>#}
                                                    {#<button type="button" class="btn btn-danger btn-sm">Delete</button>#}
                                                    {#</div>#}
                                                    {#</div>#}
                                                </div>

                                            </div>
                                        </div>
                                    </a>
                                </div>

                                {#<a href="{{ path('tariff_edit', {'id' : tariff.id}) }}"><p>Tariff type: {{ tariff.type |capitalize}}  price: ({{ tariff.price }}) / {{ meter.unit }} </p></a>#}
                            {% endfor %}
                        {% else %}
                            <p>{{ 'meter.tariff.missing' | trans }}</p>
                        {% endif %}
                        {#<p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>#}
                        {#<img src="../../assets/images/background/img4.jpg" class="img-fluid">#}
                    </div>
                </div>
            {% endfor %}
                {#<div class="tab-pane  p-20" id="profile" role="tabpanel">#}
                    {#<div class="p-20">#}
                        {#<img src="../../assets/images/background/img4.jpg" class="img-fluid">#}
                        {#<p class="m-t-10">And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>#}
                    {#</div>#}
                {#</div>#}
                {#<div class="tab-pane p-20" id="messages" role="tabpanel">#}
                    {#<div class="p-20">#}
                        {#<p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>#}
                        {#<img src="../../assets/images/background/img4.jpg" class="img-fluid">#}
                    {#</div>#}
                {#</div>#}
            </div>
        </div>
    </div>

{% endfor %}

    {#<div class="row m-l-5 m-t-40">#}
    {#<div class="card">#}
        {#<!-- Nav tabs -->#}
        {#<ul class="nav nav-tabs" role="tablist">#}
            {#<li class="nav-item"> <a class="nav-link active" data-toggle="tab" href="#home" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab1</span></a> </li>#}
            {#<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#profile" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab2</span></a> </li>#}
            {#<li class="nav-item"> <a class="nav-link" data-toggle="tab" href="#messages" role="tab"><span class="hidden-sm-up"></span> <span class="hidden-xs-down">Tab3</span></a> </li>#}
        {#</ul>#}
        {#<!-- Tab panes -->#}
        {#<div class="tab-content tabcontent-border">#}
            {#<div class="tab-pane p-20 active" id="home" role="tabpanel">#}
                {#<div class="p-20">#}
                    {#<p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>#}
                    {#<img src="../../assets/images/background/img4.jpg" class="img-fluid">#}
                {#</div>#}
            {#</div>#}
            {#<div class="tab-pane  p-20" id="profile" role="tabpanel">#}
                {#<div class="p-20">#}
                    {#<img src="../../assets/images/background/img4.jpg" class="img-fluid">#}
                    {#<p class="m-t-10">And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>#}
                {#</div>#}
            {#</div>#}
            {#<div class="tab-pane p-20" id="messages" role="tabpanel">#}
                {#<div class="p-20">#}
                    {#<p>And is full of waffle to It has multiple paragraphs and is full of waffle to pad out the comment. Usually, you just wish these sorts of comments would come to an end.multiple paragraphs and is full of waffle to pad out the comment..</p>#}
                    {#<img src="../../assets/images/background/img4.jpg" class="img-fluid">#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
    {#</div>#}





    {##}
    {#<h1>Meter index</h1>#}

    {#<table class="table">#}
        {#<thead>#}
            {#<tr>#}
                {#<th>Id</th>#}
                {#<th>Name</th>#}
                {#<th>Amount</th>#}
                {#<th>actions</th>#}
            {#</tr>#}
        {#</thead>#}
        {#<tbody>#}
        {#{% for tariff in tariffs %}#}
            {#<tr>#}
                {#<td>{{ tariff.id }}</td>#}
                {#<td>{{ tariff.description }}</td>#}
                {#<td>{{ tariff.amount }}</td>#}
                {#<td>#}
                    {#<a href="{{ path('tariff_show', {'id': tariff.id}) }}">show</a>#}
                    {#<a href="{{ path('tariff_edit', {'id': tariff.id}) }}">edit</a>#}
                {#</td>#}
            {#</tr>#}
        {#{% else %}#}
            {#<tr>#}
                {#<td colspan="4">no records found</td>#}
            {#</tr>#}
        {#{% endfor %}#}
        {#</tbody>#}
    {#</table>#}

    {#<a href="{{ path('tariff_new') }}">Create new</a>#}
{% endblock %}
{% block javascripts %}
    {% include('common/_toastr.html.twig')%}
{% endblock javascripts %}
