{% extends 'base.html.twig' %}

{% block title %}Meter{% endblock %}

{% block content %}
    <h4>{{ 'meter' | trans }}</h4>
    <table class="table">
        <tbody>
            <tr>
                <th>Type</th>
                <td>Name</td>
                <td>Last indication date</td>
                <td>Last indication value</td>
            </tr>
            <tr>
                <th>{{ meter.type.name }}</th>
                <td>{{ meter.name }}</td>
                <td>{% if meter.indications.last %}{{ meter.indications.last.date|date }}{% else %}немає даних{% endif %}</td>
                <td>{% if meter.indications.last %}{{ meter.indications.last.value }}{% else %}0{% endif %}</td>
            </tr>
            {#<tr>#}
                {#<th>Amount</th>#}
                {#<td>{{ meter.amount }}</td>#}
            {#</tr>#}
        </tbody>
    </table>

    <h4>{{ 'indications' | trans }}</h4>
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'date' | trans }}</th>
            <td>{{ 'indication' | trans }}</td>
        </tr>

        {% for indication in meter.indications %}
            <tr>
                <th>{{ indication.date | date}}</th>
                <td>{{ indication.value }}</td>
            </tr>
        {% endfor %}


        {#<tr>#}
        {#<th>Amount</th>#}
        {#<td>{{ meter.amount }}</td>#}
        {#</tr>#}
        </tbody>
    </table>


    <a href="{{ path('meter_index') }}">back to list</a>
    <a href="{{ path('meter_edit', {'id': meter.id}) }}">edit</a>

    {{ include('meter/_delete_form.html.twig') }}

{% endblock %}

{% block actions %}
    <!-- ============================================================== -->
    <!-- create new -->
    <!-- ============================================================== -->
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="d-none d-md-block">Дії <i class="fa fa-angle-down"></i></span>
            <span class="d-block d-md-none"><i class="fa fa-plus"></i></span>
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{{ path('indication_new') }}">Додати показання</a>
            {#<a class="dropdown-item" href="#">Another action</a>#}
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{{ path('meter_edit', {'id' : meter.id}) }}">Редагувати лічильник</a>
            {#<a class="dropdown-item" href="{{ path('place_edit', {'id': meter.id}) }}">Редаг/увати місце</a>#}
        </div>
    </li>
{% endblock actions %}